{% extends 'base.html.twig' %}

{% block title %}Actualités{% endblock %}

{% block body %}

	<link rel="stylesheet" href="./css/style.css">


<h1 class="text-center my-4">Actualités</h1>

{% endblock %}