{% extends 'base.html.twig' %}

{% block title %}Conditions Générales de Vente{% endblock %}

{% block body %}
	<link rel="stylesheet" href="./css/style.css">


<h1 class="text-center my-4">Conditions Générales de Vente</h1>



{% endblock %}
