{% extends 'base.html.twig' %}

{% block title %}Mention Légales{% endblock %}

{% block body %}
	<link rel="stylesheet" href="./css/style.css">


<h1 class="text-center my-4">Mention Légales</h1>

<div class="container">
    <div class="col-8">
    <div class="row my-4 gap-3">
        <div>
            <h2>Propriété intellectuelle</h2>
            <p>L'ensemble du contenu de ce site web, y compris les textes, les images, les vidéos, les graphiques et les logos, est la propriété exclusive de <strong class="fw-bold">Hotel House</strong> ou de ses partenaires et est protégé par les lois sur la propriété intellectuelle en vigueur. Toute utilisation, reproduction ou distribution non autorisée du contenu de ce site est strictement interdite.</p>
        </div>
        <div>
            <h2>Données personnelles</h2>
            <p>Les informations collectées sur ce site web sont soumises à notre politique de confidentialité. En utilisant ce site, vous consentez à la collecte, au traitement et à l'utilisation de vos données personnelles conformément à cette politique.</p>
        </div>
        <div>
            <h2>Cookies</h2>
            <p>Ce site web utilise des cookies pour améliorer l'expérience de l'utilisateur. Vous pouvez en savoir plus sur l'utilisation des cookies dans notre politique de cookies, disponible à l'adresse [Insérer le lien vers la politique de cookies].</p>
        </div>
        <div>
            <h2>Responsabilité</h2>
            <p><strong class="fw-bold">Hotel House</strong> s'efforce de fournir des informations précises et à jour sur ce site web, mais ne peut garantir l'exactitude ou l'exhaustivité de ces informations. En conséquence, <strong class="fw-bold">Hotel House</strong> décline toute responsabilité pour tout préjudice résultant de l'utilisation de ce site web.</p>
        </div>
        <div>
            <h2>Droit applicable et juridiction compétente</h2>
            <p>Les présentes mentions légales sont régies par le droit en France. En cas de litige, les tribunaux de <strong class="fw-bold">Marseille</strong> seront compétents.</p>
        </div>

    </div>
    </div>
</div>

{% endblock %}
