{% extends 'base.html.twig' %}

{% block title %}Plan du site{% endblock %}

{% block body %}
	<link rel="stylesheet" href="./css/style.css">


<h1 class="text-center my-4">Plan du site</h1>



{% endblock %}
