{% extends 'base.html.twig' %}

{% block title %}Spa{% endblock %}

{% block body %}

	{# <link rel="stylesheet" href="./css/style.css"> #}


<div class="bg-black bg-opacity-50 w-100 h-25 text-center position-absolute top-50 start-50 translate-middle">
    <h1 class="text-white mt-3">Notre Spa</h1>
    <p class="text-white-50 container">Plongez dans l'ultime oasis de bien-être et de détente. Notre spa vous offre une évasion totale du stress quotidien, un havre de sérénité où chaque soin vous rapproche de l'harmonie intérieure. Découvrez le paradis du bien-être avec nous.</p>
</div>

<div>
    <img src="{{ asset('img/fixe/spa.jpg') }}" class="d-block w-100" alt="...">
</div>

<div class="container">
    <div class="row">
            <h2 class="my-4">Notre programme de soin</h2>
        <div class="my-4 col-8">

            <div>
                <h3>Accueil et Consultation</h3>
                    <p>À votre arrivée, notre équipe vous accueillera chaleureusement et vous proposera une brève consultation pour comprendre vos besoins et préférences. Cela nous permettra de personnaliser le soin selon vos besoins spécifiques.</p>
            </div>
            <div>
                <h3>Préparation</h3>
                <p>Vous serez ensuite conduit(e) dans une salle de soin calme et confortable, éclairée par une douce lumière tamisée. Vous pourrez vous préparer en toute tranquillité, en enfilant une tenue de spa douce et confortable.</p>
            </div>
            <div>
                <h3>Aromathérapie Relaxante</h3>
                <p>Le soin commence par une séance d'aromathérapie apaisante. Des huiles essentielles spécialement sélectionnées pour leurs propriétés relaxantes seront diffusées pour créer une atmosphère paisible.</p>
            </div>
            <div>
                <h3>Massage Relaxant</h3>
                <p>Notre thérapeute expérimenté commencera un massage doux et enveloppant à l'aide d'huiles essentielles chaudes. Les mouvements fluides et les pressions légères visent à relâcher les tensions musculaires et à promouvoir une relaxation profonde.</p>
            </div>
            <div>
                <h3>Musicothérapie</h3>
                <p>Pendant le massage, vous serez bercé(e) par une musique douce et apaisante qui favorisera encore davantage la détente.</p>
            </div>
            <div>
                <h3>Soin du Visage (en option)</h3>
                <p>Vous avez la possibilité d'ajouter un soin du visage relaxant à votre expérience. Notre esthéticienne utilisera des produits naturels pour revitaliser et hydrater votre peau.</p>
            </div>
            <div>
                <h3>Moment de Détente</h3>
                <p>Après le massage, vous pourrez profiter d'un moment de calme dans notre espace détente. Un thé apaisant ou une infusion vous sera proposé(e) pour prolonger cette sensation de bien-être.</p>
            </div>
            <div>
                <h3>Résultats Attendus</h3>
                <p>À la fin du Soin Détente Profonde, vous vous sentirez profondément détendu(e), revitalisé(e) et prêt(e) à affronter le monde extérieur avec une nouvelle énergie. Ce soin est idéal pour soulager le stress, les tensions musculaires et favoriser un sommeil réparateur.</p>
            </div>
            <div>
                <h3>Conseils</h3>
                <p>Pour maximiser les bienfaits de ce soin, il est recommandé de prendre quelques instants après le traitement pour prolonger la sensation de détente. Il est également conseillé de boire beaucoup d'eau pour rester bien hydraté(e).</p>
                <p>Offrez-vous une pause bien méritée et offrez-vous notre Soin Détente Profonde pour un moment de pure relaxation et de régénération. Vous le méritez !</p>
            </div>
        </div>


    </div>

</div>

{% endblock %}
